{{pick-a-date date=(readonly dateForInput) on-selected=(action 'setEntryDate')}}
<input value={{displayValue}} oninput={{action 'onValueChange' value="target.value"}}>
{{currencySymbol}}
{{newValueInCents}}
<button {{action 'save'}}>
  save
</button>

{{#each balanceChange.errors as |error|}}
  <p>
    {{error.attribute}}:
    {{error.message}}
  </p>
{{/each}}
