<h1>
  Activity:
</h1>

<h2>
  Expenses ({{expenses.length}}):
</h2>

<ul>
  {{#each expenses as |expense|}}
    <li>{{expense.value}}</li>
  {{/each}}
</ul>

<button {{action 'addExpense'}}>Add</button>

<h2>
  Incomes: ({{incomes.length}}):
</h2>

<ul>
  {{#each incomes as |income|}}
    <li>{{income.value}}</li>
  {{/each}}
</ul>

<button {{action 'addIncome'}}>Add</button>
