{{input value=username placeholder="E-mail"}}
{{input value=password placeholder="password" type="password"}}

<button {{action 'login'}}>
  Login
</button>

{{#link-to 'signup'}}
  Signup
{{/link-to}}

{{errorMessage}}

{{outlet}}
