<div class="form-container">
  <form {{action 'login' on="submit"}}>
    <h2>
      Login
    </h2>

    {{input value=username placeholder="E-mail"}}
    {{input value=password placeholder="password" type="password"}}

    <p>
      {{errorMessage}}
    </p>

    <button {{action 'login'}}>
      Login
    </button>

    <p>
      {{#link-to 'signup'}}
        Signup
      {{/link-to}}
    </p>
  </form>
</div>
