<div class="form-container">
  <form>
    <h2>
      Sign up
    </h2>

    {{input value=user.email placeholder="E-mail"}}
    {{input value=user.password type="password" placeholder="Password"}}


    {{#each user.errors as |error|}}
      <p>
        {{error.attribute}}:
        {{error.message}}
      </p>
    {{/each}}

    <button {{action 'signup'}}>
      Sign up
    </button>

    <p>
      {{#link-to 'login'}}
        Login
      {{/link-to}}
    </p>
  </form>
</div>
